{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="card text-dark bg-light mb-4" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Обычный</h5>
                <p class="card-text">100</p>
                <a href="#" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-primary mb-4" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Редкий</h5>
                <p class="card-text">500</p>
                <a href="#" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-success mb-4" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Сверхредкий</h5>
                <p class="card-text">1000</p>
                <a href="#" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-light mb-4" style="max-width: 18rem; background-color: #6f42c1;">
            <div class="card-body">
                <h5 class="card-title">Эпический</h5>
                <p class="card-text">5000</p>
                <a href="#" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-light mb-4" style="max-width: 18rem; background-color: #ffc107;">
            <div class="card-body">
                <h5 class="card-title">Легендарный</h5>
                <p class="card-text">10000</p>
                <a href="#" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-light mb-4" style="max-width: 18rem; background-color: #dc3545;">
            <div class="card-body">
                <h5 class="card-title">Запретный</h5>
                <p class="card-text">50000</p>
                <a href="#" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-light mb-4" style="max-width: 18rem; background-color: #dc3545;">
            <div class="card-body">
                <h5 class="card-title">Запретный</h5>
                <p class="card-text">50000</p>
                <a href="#" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}