{% extends "base.html" %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://fotoskala.ru/img/blog/or/2017/9/20/441.jpg" class="d-block w-100" alt="Кейсы">
        </div>
        <div class="carousel-item">
            <img src="https://dp.tj/uploads/posts/2013-07/1375131985_casinos_o.jpg" class="d-block w-100"
                 alt="Интуиция">
        </div>
        <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4hjaSVrxR7w9Y_mHcassL0lSNew218EzufSTfjaPWvA&s" class="d-block w-100" alt="Депозит">
        </div>
        <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2cGBwCpbdOA_pBB5nicV-OMH9M_L3osjd3g16mO-FrA&s" class="d-block w-100" alt="Вывод">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}
