{% extends "base.html" %}

{% block content %}
<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <a href="/logout"><img src="https://fotoskala.ru/img/blog/or/2017/9/20/441.jpg" class="d-block w-100" alt="first"></a>
            <div class="carousel-caption d-none d-md-block">
                <h2 class=»black-text»>Кейсы</h2>
            </div>
        </div>
        <div class="carousel-item c-item">
            <a href="/logout"><img src="https://beryv.therapiesmeylan.fr/images/39194513.jpg" class="d-block w-100" alt="Пример"></a>
            <div class="carousel-caption d-none d-md-block">
                <h2 class=»black-text»>Интуиция</h2>
            </div>
        </div>
        <div class="carousel-item c-item">
            <a href="/logout"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4hjaSVrxR7w9Y_mHcassL0lSNew218EzufSTfjaPWvA&s"
                 class="d-block w-100" alt="ddd"></a>
            <div class="carousel-caption d-none d-md-block">
                <h2 class=»black-text»>Депозит</h2>
            </div>
        </div>
        <div class="carousel-item c-item">
            <a href="/scam"><img src="https://finclub.net/media/k2/items/cache/5e577eaecb8be4069a52cf2ba32a5c76_M.jpg"
                 class="d-block w-100" alt="ddd"></a>
            <div class="carousel-caption d-none d-md-block">
                <h2 class=»black-text»>Вывод</h2>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}
