{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="card text-dark bg-light mb-4" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Обычный</h5>
                <p class="card-text">100</p>
                <a href="/case1" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-success mb-4" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Редкий</h5>
                <p class="card-text">1000</p>
                <a href="/case2" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-light mb-4" style="max-width: 18rem; background-color: #ffc107;">
            <div class="card-body">
                <h5 class="card-title">Легендарный</h5>
                <p class="card-text">10000</p>
                <a href="/case3" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-light mb-4" style="max-width: 18rem; background-color: #dc3545;">
            <div class="card-body">
                <h5 class="card-title">Запретный</h5>
                <p class="card-text">50000</p>
                <a href="/case4" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-light mb-4" style="max-width: 18rem; background-color: #dc3545;">
            <div class="card-body">
                <h5 class="card-title">???</h5>
                <p class="card-text">1000000</p>
                <a href="/case5" class="btn btn-dark">Открыть</a>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-primary" role="alert">
    Прошлый выйгрыш: {{ win }}
</div>
{% endblock %}